.cards{
  display: flex;
  flex-wrap: wrap;
}

.cards mat-card{
  margin: 8px;
  background-color: #ede7f6;
}

.component-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

mat-form-field{
  margin: 8px;
}

.monsters-table-title{
  padding-top: 8px;
}

.monsters-table-title b{
  float: right;
}

.mat-headline{
  margin-top: 16px;
  padding: 0 8px;
}

.container{
  margin: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calc-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.calc-results{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 125px;
}

.calc-results .result{
  margin: 8px;
  padding-bottom: 23.625px;
  padding-top: 4.125px;
  border-top: .84375em solid transparent;
}

.monsters-table{
  width: 100%;
  margin: 4px;
  text-align: left;
}

.name-field{
  width: 60%;
}

.atk-field,.hp-field{
  width: 20%;
}

mat-card{
  width: 400px;
}