.component-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

mat-form-field{
  margin: 8px;
}

.mat-headline{
  margin-top: 16px;
  padding: 0 8px;
}

.container{
  margin: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calc-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
}

.calc-results{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
}

.calc-results .result{
  margin: 8px;
  padding-bottom: 23.5px;
  padding-top: 23px;
}